@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');

* {
    font-family: "Bowlby One", sans-serif;
    box-sizing: border-box; /* Ensure padding and borders are included in the element's total width and height */
}

body {
    background-color: #000;
    margin: 0;
    position: relative;
    padding: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/base.png'); /* Path to your image */
    background-repeat: repeat;
    background-size: 60px 60px; /* Adjust the size of the background image */
    opacity: 0.3; /* Adjust the opacity */
    z-index: -1; /* Ensure it stays behind other content */
}


.ca {
    text-align: center;
    color: #37f7ff;
    font-size: 1.2rem;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    word-wrap: break-word;
}

p {
    width: 80%;
    max-width: 600px;
    margin: auto;
    line-height: 1.5;
    color: white;
}

.desc {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    width: 80%;
    max-width: 600px;
    margin: 1rem auto;
}

.image {
    text-align: center;
}

.image img {
    width: 80%;
    max-width: 300px;
    border: 5px solid white;
    border-radius: 50px;
}

.socials, .buy, .mememaker {
    text-align: center;
}

.socials a img {
    transition: transform 0.3s ease-in-out;
    border-radius: 50%;
    width: 10%;
    max-width: 80px;
}

.socials a img:hover {
    transform: scale(1.2);
}

.buy .buy-btn, .mememaker .meme-btn {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 50px;
    text-decoration: none;
}

.buy .buy-btn {
    color: red;
    background-color: yellow;
    padding: 1rem 3.9rem;
}

.mememaker .meme-btn {
    background-color: #37f7ff;
    color: black;
}

.buy .buy-btn:hover {
    color: yellow;
    background-color: red;
}

.mememaker .meme-btn:hover {
    color: #37f7ff;
    background-color: darkblue;
}

footer {
    text-align: center;
    color: aliceblue;
    margin-top: none;
}

@media (max-width: 1000px) {
    .ca, .desc {
        font-size: 1.2rem;
    }

    .buy .buy-btn, .mememaker .meme-btn {
        padding: 1rem 1.5rem;
        font-size: 1.5rem;
    }

    .socials a img {
        width: 15%;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }

    .ca, .desc {
        font-size: 1rem;
    }

    .buy .buy-btn, .mememaker .meme-btn {
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
    }

    .socials a img {
        width: 20%;
    }
}
